@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noticia+Text|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Handlee|Petit+Formal+Script|Volkhov|Yrsa|Ubuntu');
* {
  padding: 0;
  margin: 0;
  z-index: 2;
  position: relative;
}

body {
  overflow: scroll;
  background-color: #FFF5EE;
}

#super {
    background-color: #FFF5EE;
    background-image: url("b6.jpg");
    position: relative;
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
}

#top{
    position: absolute;
    z-index: 1;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 250px;
    height: auto;
}

#right{
    position: absolute;
    padding-bottom: 40px;
    z-index: 1;
    width: 250px;
    right:0;
    height: auto;
}
#left{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: auto;
}

.header {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0px auto;   
    padding-top: 0.75rem; 
}

.header > h2 {
    font-size: 64px;
    font-family: 'Handlee', cursive;
}

.contacts {
    position: absolute;
    display: block;
    top: 1.5rem;
    right: 0;
    font-family: 'Noticia Text', serif;
    font-size: 20px;
}

@media only screen and (max-width: 1250px) {
    .contacts {
      position: static;
      width: 100%;
      text-align: center;
    }
}

.row {
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
}

.row figure {
    width: 100%;
    margin-top: 3rem;
}

.row figure img {
    width: 80%;
    margin-left: 10%;
}

.row figure figcaption {
    margin-top: 2rem;
}
